html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px 'Open Sans', sans-serif;
  text-align: center;
  color: black;
}

h1, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
h1 {
  font-size: 2.75rem;
}

a {
  text-decoration: none;
  color: hotpink;
}

ul {
  list-style: none;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

.container {
  display: flex;
  background: #5096b0;
  background: -webkit-linear-gradient(-95deg, #5096b0, #50dcac);
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 342px;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-items {
  font: 1em 'Montserrat', sans-serif;
  background: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 17px;
}

.list-item {
  cursor: pointer;
}

.credits {
  font-size: 0.75em;
  font-family: 'Montserrat', sans-serif;
}

/* media queries */
